# Core
jupyter-book<2
ghp-import

# Needed if you ever re-run the notebooks (execute_notebooks: 'off' in _config.yml
# means Jupyter Book won't need these just to BUILD, but you'll need them to
# actually run/edit the notebooks yourself)
numpy
torch
scikit-learn
matplotlib
